<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Show</title>
</head>
<body>
    <h1>At Food Bar</h1>
    <h2><%=food.name%></h2>
    <img src="<%=food.image%>" alt="<%= food.name %>">
    <h3> <%= food.price %>  </h3>
    <a href="/food">Back to food Index</a>
</body>
</html>